<div class="modal fade" id="updateCustomerModal" role="dialog" data-backdrop="static" data-keyboard="false" >
        <div class="modal-dialog">
                  <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Update Customer</h4>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label for="usr">Name:</label>
                        <input type="text" class="form-control" id="usr" ng-model="customerUpdate.name">
                    </div>
                    <div class="form-group">
                        <label for="srn">Surname:</label>
                        <input type="text" class="form-control" id="srn" ng-model="customerUpdate.surname">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="text" class="form-control" id="phone" ng-model="customerUpdate.telephoneNumber">
                    </div>
                    <div class="form-group">
                        <label for="addr">Address:</label>
                        <input type="text" class="form-control" id="addr" ng-model="customerUpdate.address">
                    </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" ng-click="updateCustomerFunction()">Update</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
</div>